<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/form" method="post">
      <label for="str">Enter the string:</label>
      <input type="text" name="str"><br>
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
